.pub {
  display: flex;

  position: relative;
  overflow: hidden;

  padding: 15px;
  margin: 20px 5px;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

  .rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    color: #9e9e9e;
    min-width: 50px;
    #up-vote {
      transition: all 0.25s ease-in-out;
      transform: rotate(-90deg);
      fill: #9e9e9e;
      &:hover,
      &.active {
        fill: #00d100;
      }
    }
    .num {
      font-family: Montserrat;
      color: #9e9e9e;
    }
    #down-vote {
      transition: all 0.25s ease-in-out;
      transform: rotate(90deg);
      fill: #9e9e9e;
      &:hover,
      &.active {
        fill: #d10000;
      }
    }
  }

  .content {
    margin: 0 10px;
    width: 100%;
    .upper-bond {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .creator {
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 1rem;
      }
      .stars {
        font-size: 0.7rem;
        font-weight: bold;
        color: #9e9e9e;
        line-height: 1rem;
        margin-left: 0.5rem;
      }
      .date {
        font-size: 0.6rem;
        color: #9e9e9e;
        right: 25px;
        line-height: 1rem;
      }
    }

    .link {
      font-size: 0.75rem;
    }
    .link:link {
      color: #00a8e8;
      text-decoration: none;
      border-bottom: 1px solid;
    }
    .link:visited {
      color: #0090ff;
    }
    .link:hover {
      color: #00c6ff;
      border-bottom: none;
    }
    .link:active {
      color: #00a8e8;
    }
  }
}
