@font-face{
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf");
}
@font-face{
  font-family: "Montserrat";
  src: url("./Montserrat-Bold.ttf");
}
@font-face{
  font-family: "BebasNeue";
  src: url("./Bebas-Neue-Pro-Bold.otf");
}
