<section class="main">
  <div class="title">
    <h1 class="title">LPNISTES</h1>
    <h2 class="title">Reunion</h2>
  </div>
  <p class="description">The platform that reunites all LPNistes!</p>
  <div class="btn-grp">
    <a routerLink="/sign-up" class="sign-up">Sign Up</a>
    <a routerLink="/sign-in" class="sign-in">Sign In</a>
  </div>

</section>
<section class="basic">
  <div class="content">
    <h1 class="title">Share your experience with the new generations</h1>
    <p class="description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Maxime soluta laboriosam inventore hic velit? Vero eligendi
      culpa molestiae necessitatibus quisquam. Praesentium, quidem!
      Vero repudiandae inventore ea corrupti delectus, provident
      similique.
    </p>
  </div>
  <img src="assets/img/home_1.png">
</section>

<section class="basic">
  <div class="content">
    <h1 class="title">Share your experience with the new generations</h1>
    <p class="description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Maxime soluta laboriosam inventore hic velit? Vero eligendi
      culpa molestiae necessitatibus quisquam. Praesentium, quidem!
      Vero repudiandae inventore ea corrupti delectus, provident
      similique.
    </p>
  </div>
  <img src="assets/img/home_1.png">
</section>
