.wrapper{
  display: grid;

  grid-template-columns: 1fr;

  gap: 1em;
  padding: 25px;

  overflow:hidden;

  .card{
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
    padding: 10px;

    &.collapse{
      &.active{
        .header{
          img{
            transform: rotate(90deg);
            &:hover{
              transform: rotate(0deg);
            }
          }
        }
        .content{
          max-height: 1000px;
        }
      }
      .header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        img{
          height: 1.5rem;
          transition: all .3s ease-in-out;
          &:hover{
            transform: rotate(90deg);
          }
        }
      }
      .content{
        transition: max-height 1.5s ease-in-out;
        overflow: hidden;
        max-height: 0;
      }
    }
  }

  #profile{
    height: 350px;
    overflow: hidden;
    padding: 0;
    .card-upper{
      height: 30%;
      background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
      opacity: 0.6;

      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      padding-right: 2.5%;

      img{
        height: 45px;
        margin-top: 5px;
      }
    }
    .card-footer{
      height: 70%;

      img{
        height: 100px;
        top: -60px;
        left: calc(50% - 50px);
        border: 3px solid white;
        border-radius: 50%;
        position: relative;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        z-index: 1;
      }
      // HERE ADD IMG ON HOVE BE BLACK

      .card-content{
        width: 100%;
        text-align: center;
        margin-top: -65px;
        padding: 10px 15px;
        .title{
          font-size: 1.5rem;
          margin-bottom: 5px;
        }
      }

      .nums{
        position: absolute;
        right: 5px;
        bottom: 5px;
        display: flex;

        .num{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 5px;
          .value{
            font-family: Montserrat;
            font-size: 1.25rem;
          }
          .tag{
            font-size: .75rem;
          }
        }
      }
    }
  }

  #about{
    .content{
      div{
        margin-bottom: .5rem;
      }
    }
  }

  #favs{
    .content{
      display: flex;
      flex-wrap: wrap;

      .tag{
        background-color: #00A8E8;
        padding: 5px 10px;
        margin: 5px 2.5px;
        border-radius: 20px;
        color: white;
        font-family: Montserrat;
        font-size: .75rem;
      }
    }
  }

  #pubs{
    padding: 10px;
    overflow-y: scroll;
    .pub{
      margin: 20px 5px;
      display: flex;
      .rate{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px 5px;
        color: #9E9E9E;
        .up-vote{
          transition: all .5s ease-in-out;
          transform: rotate(-90deg);
          fill: #9E9E9E;
          &:hover{
            fill: #00D100;
          }
          &.active{
            fill: #00D100;
          }
        }
        .num{
          font-family: Montserrat;
          color: #9E9E9E;
        }
        .down-vote{
          transition: all .5s ease-in-out;
          transform: rotate(90deg);
          fill: #9E9E9E;
          &:hover{
            fill: #D10000;
          }
          &.active{
            fill: #D10000;
          }
        }
      }

      .content{
        margin: 0 10px;
        .upper-bond{
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          .creator{
            font-size: .75rem;
            font-weight: bold;
            line-height: 15px;
          }
          .date{
            font-size: .6rem;
            color: #9E9E9E;
            right: 25px;
            line-height: 15px;
          }
        }

        .link{
          font-size: .75rem;
        }
        .link:link {
          color: #00A8E8;
          text-decoration: none;
          border-bottom: 1px solid;
        }
        .link:visited {
            color: #0090ff;
        }
        .link:hover {
            color: #00c6ff;
            border-bottom: none;
        }
        .link:active {
            color: #00A8E8;
        }
      }
    }
  }

  #search{
    display: none;
    .input-container {
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 2rem;
      background: #F2F2F2;
      border: none;
      border: #9E9E9E solid 1px;
      transition:all .5s ease;
      .icon {
        padding: 10px;
        background: transparent;
        color: white;
        width: 2rem;
        text-align: center;
      }
      .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
        border-radius: 2rem;
        border: none;
        background: transparent;

      }


      &:focus-within{
        border: #7A7A7A solid 1px;
      }
    }
    .search-results{
      .search-result{
        display: flex;
        align-items: center;
        background: #F2F2F2;
        margin: 15px 0;
        img{
          border-radius: 10px;
          width: 75px;
          height: 75px;
        }
        .content{
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          margin-left: 10px;
          padding: 5px;
          height: 75px;

          span.title{
            font-size: .75rem;
            font-weight: bold;
          }
          .location{
            display: flex;
            align-items: flex-end;
            svg{

              path{
                fill: #7A7A7A;
              }

              width: auto;
              height: .75rem;
            }
            h3.title{
              font-size: .6rem;
              color: #7A7A7A;
              font-weight: 400;
              margin: 0;
              margin-left: .25rem;
            }
          }
        }

      }
    }
  }

  #suggestions{
    display: none;
    .suggestions{
      padding: 5px;
      overflow-x: scroll;
      display: flex;

      .profile{
        height: 180px;
        min-width: 150px;
        margin: 0 10px 10px 10px;
        overflow: hidden;
        padding: 0;
        .card-upper{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;

          height: 40%;
          background: linear-gradient(90deg,  #00C6FF66 0%, #0072FF66 100%);

          img{
            height: 70px;
            width: 70px;
            top: calc(100% - 50px);
            border: 3px solid white;
            border-radius: 50%;
            position: relative;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            z-index: 1;
          }
        }
        .card-footer{
          height: 60%;
          padding-top: 25px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .card-content{
            width: 100%;
            text-align: center;
            padding: 10px 15px;
            .title{
              font-size: 1rem;
              margin:0 ;
            }
          }

          .profile-link{
            position: relative;

            background-color: #00A8E8;
            color: white;
            font-size: .6rem;
            font-family: Montserrat;

            padding: .15rem 1.5rem;
            border-radius: 1.25rem;
            border: transparent solid 2px;

            text-decoration: auto;

            margin: 5px;

            &:hover {
              border: black solid 2px;
              color: black;
              background-color: transparent;
            }
          }
        }
      }
    }


  }

  @media screen and (min-width : 576px){

    #profile{
      height: 200px;
      .card-upper{
        align-items: center;
        img{
          height: 50px;
          margin-top: 0;
        }
      }

      .card-footer{
        display: flex;

        img{
          height: 125px;
          top: -50px;
          left: 25px;
        }

        .card-content{
          width: 60%;
          margin-top: 0;
          margin-left: 25px;
          text-align: unset;
        }
        .nums{
          .num{
            margin: 7.5px;
            .value{
              font-size: 1rem;
            }
            .tag{
              font-size: .75rem;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width : 992px){
    height: 100vh;

    grid-template-columns: 1fr 2fr minmax(200px,1fr) ;
    grid-template-rows: 200px 1.75fr .5fr 1.25fr;

    padding: 50px 75px 25px 75px;

    .card{
      &.collapse{
        .header{
          img{
            display: none;
          }
        }
        .content{
          max-height: none;
        }
      }
    }

    #profile{
      height: 200px;
      grid-column: 1/3;
      grid-row: 1;

      .card-upper{
        align-items: center;
        img{
          height: 50px;
          margin-top: 0;
        }
      }

      .card-footer{
        display: flex;

        img{
          height: 150px;
          top: -50px;
          left: 25px;
        }

        .card-content{
          width: 60%;
          margin-top: 0;
          margin-left: 25px;
          .title{
            font-size: 1.5rem;
            margin-left: .5rem;
          }
        }
      }
    }

    #search{
      grid-column: 3;
      grid-row: 1;

      display: unset;
    }

    #suggestions{
      grid-column: 3;
      grid-row: 3/5;
      display: unset;
    }

    #about{
      grid-column: 1;
      grid-row: 2/4;
    }

    #favs{
      grid-column: 1;
      grid-row: 4;
    }
    #pubs{
      grid-column: 2;
      grid-row: 2/5;
      overflow-y: scroll;
    }
  }
}
