.wrapper {
  width: 100vw;
  min-height: 100vh;
  height: 100%;

  background: url("../../../assets/img/LPN.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;

  h1.title {
    font-size: 2rem;
    color: white;
    width: fit-content;
    margin: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;

    background: transparent;

    .page {
      height: 25rem;

      padding: 1rem;
      margin: 2rem 0;

      border-radius: 1.5rem;

      background: white;

      &.page-1 {
        .step-1 {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 2.5rem) 2fr;
          gap: 1rem;
          height: 100%;
        }
      }
      &.page-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .pdp-img {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            margin-bottom: 0.5rem;
          }
        }

        .verif-img {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        img {
          height: 8rem;
          width: 8rem;
          object-fit: cover;
          border-radius: 50%;
        }

        input {
          display: none;
        }

        label {
          background-color: #00a8e8;

          font-family: Montserrat;
          color: white;
          font-size: 0.9rem;
          line-height: 1rem;
          text-decoration: none;

          padding: 0.5rem 1rem;
          margin: 0;

          border-radius: 1.5rem;
          border: transparent solid 2px;
          margin-bottom: 0.25rem;
          &:hover {
            border: black solid 2px;
            color: black;
            background-color: transparent;
          }

          &:focus {
            outline: none;
          }
          &:active {
            border: black solid 2px;
            color: black;
            background-color: transparent;
          }
        }
        .del-btn {
          font-size: 0.75rem;
          line-height: 1rem;
          appearance: none;
          background: transparent;
          border: 0;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .input-group {
      display: flex;
      align-items: center;

      height: 2.5rem;
      width: 100%;

      background: white;

      border-radius: 2rem;
      //background: #F2F2F2;
      border: #9e9e9e solid 1px;

      transition: all 0.5s ease;
      .label {
        position: absolute;
        margin-left: calc(2rem + 10px);
        font-size: 1rem;
        background: white;

        transition: all 0.5s;
        transform: translate(0, 0);
      }

      .icon {
        padding: 10px;
        background: transparent;
        color: white;
        width: 2rem;
        text-align: center;
      }
      .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
        border-radius: 2rem;
        border: none;
        background: transparent;

        &:focus + .label {
          transform: translate(-0.5rem, -1.25rem);
          font-size: 1rem;
        }
        &:valid + .label {
          transform: translate(-0.5rem, -1.25rem);
          font-size: 1rem;
        }
      }

      &:focus-within {
        border: #00a8e8 solid 1px;
      }
    }
    .terms-input {
      display: flex;
      align-items: center;
      padding-left: 2rem;
      label {
        margin-left: 0.5rem;
        line-height: 1rem;
      }
      .link {
        font-size: 0.75rem;
        line-height: 1rem;
      }
      .link:link {
        color: #00a8e8;
        text-decoration: none;
        border-bottom: none;
      }
      .link:visited {
        color: #0090ff;
      }
      .link:hover {
        color: #00c6ff;
        border-bottom: none;
        border-bottom: 1px solid;
      }
      .link:active {
        color: #00a8e8;
        border-bottom: none;
      }
    }
  }
  .btn-grp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      background-color: #00a8e8;

      width: max-content;

      font-family: Montserrat;
      color: white;
      font-size: 0.9rem;
      line-height: 1rem;
      text-decoration: none;

      padding: 0.5rem 1rem;
      margin: 0 0.5rem;

      border-radius: 1.5rem;
      border: transparent solid 2px;

      &:hover {
        border: white solid 2px;
        color: white;
        background-color: transparent;
      }

      &:focus {
        outline: none;
      }
      &:active {
        border: white solid 2px;
        color: white;
        background-color: transparent;
      }
    }
  }

  @media screen and (min-width: 576px) {
    padding: 2.5rem;

    form {
      .page {
        height: 22rem;
        padding: 1.25rem;

        &.page-1 {
          .step-1 {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, 2.5rem) 1fr;
            > div:nth-child(n + 3) {
              grid-column: 1/3;
            }
          }
        }
        &.page-2 {
          img {
            height: 10rem;
            width: 10rem;
          }

          .del-btn {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    h1.title {
      font-size: 2.5rem;
      flex-grow: 0.5;
    }

    form {
      flex-direction: row;

      width: 100%;
      flex-grow: 6;

      .page {
        height: 22.5rem;
        width: 47.5%;
        max-width: 30rem;
        min-width: 10rem;

        margin: auto 0;

        &.page-1 {
          .step-1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, 2.5rem) 2fr;
            gap: 1rem;
            height: 100%;
          }
        }
        &.page-2 {
          img {
            height: 8rem;
            width: 8rem;
            object-fit: cover;
            border-radius: 50%;
          }

          input {
            display: none;
          }

          label {
            background-color: #00a8e8;

            font-family: Montserrat;
            color: white;
            font-size: 0.9rem;
            line-height: 1rem;
            text-decoration: none;

            padding: 0.5rem 1rem;
            margin: 0;

            border-radius: 1.5rem;
            border: transparent solid 2px;
            margin-bottom: 0.25rem;
            &:hover {
              border: black solid 2px;
              color: black;
              background-color: transparent;
            }

            &:focus {
              outline: none;
            }
            &:active {
              border: black solid 2px;
              color: black;
              background-color: transparent;
            }
          }
          .del-btn {
            font-size: 0.75rem;
            line-height: 1rem;
            appearance: none;
            background: transparent;
            border: 0;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .input-group {
        display: flex;
        align-items: center;

        height: 2.5rem;
        width: 100%;

        background: white;

        border-radius: 2rem;
        //background: #F2F2F2;
        border: #9e9e9e solid 1px;

        transition: all 0.5s ease;
        .label {
          position: absolute;
          margin-left: calc(2rem + 10px);
          font-size: 1rem;
          background: white;

          transition: all 0.5s;
          transform: translate(0, 0);
        }

        .icon {
          padding: 10px;
          background: transparent;
          color: white;
          width: 2rem;
          text-align: center;
        }
        .input-field {
          width: 100%;
          padding: 10px;
          outline: none;
          border-radius: 2rem;
          border: none;
          background: transparent;

          &:focus + .label {
            transform: translate(-0.5rem, -1.25rem);
            font-size: 1rem;
          }
          &:valid + .label {
            transform: translate(-0.5rem, -1.25rem);
            font-size: 1rem;
          }
        }

        &:focus-within {
          border: #00a8e8 solid 1px;
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    padding: 4rem;
  }
}

@keyframes error_shake {
  0% {
    transform: translate(20px);
    background-color: transparent;
  }
  20% {
    transform: translate(-20px);
    background-color: transparent;
  }
  40% {
    transform: translate(10px);
    background-color: #c80000;
  }
  60% {
    transform: translate(-10px);
    background-color: #c80000;
  }
  80% {
    transform: translate(5px);
    background-color: transparent;
  }
  100% {
    transform: translate(0px);
    background-color: #c80000;
  }
}
