.wrapper {
  overflow: hidden;
  .card {
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
    padding: 10px;
  }

  .header {
    width: 100vw;
    height: 40vh;

    background-image: url("../../../assets/img/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 15px 30px;

    .description {
      display: flex;
      height: 100px;
      img {
        height: 100px;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: calc(100% - 100px);
        margin-left: 10px;
        padding: 5px;

        h1.title {
          color: white;
          font-size: 0.8rem;
        }
        .location {
          display: flex;
          align-items: flex-end;
          img {
            width: auto;
            height: 0.95rem;
          }
          h3.title {
            font-size: 0.7rem;
            color: white;
            font-weight: 400;
            margin: 0;
            margin-left: 0.25rem;
          }
        }
      }
    }

    .rating {
      align-self: flex-end;
      margin-bottom: 10px;
      .title {
        color: white;
        font-size: 1rem;
        font-family: "Montserrat";
      }
      .rate {
        display: flex;
        align-items: center;
        .num {
          font-family: "Montserrat";
          color: #ffbe55;
          font-size: 2rem;
        }
        .stat {
          width: 7.5rem;
          margin-left: 0.5rem;
          display: flex;
          align-items: center;
          .tag {
            font-size: 0.5rem;
            font-weight: bold;
            color: white;
          }
          .bar-container {
            margin: 0.125rem 0.5rem;
            height: 0.5rem;
            width: 100%;
            .bar {
              background-color: #00a8e8;
              height: 100%;
              border-radius: 0.5rem;
              transition: all 1s ease-in-out;
            }
          }
        }
      }
    }
  }
  .footer {
    display: flex;

    flex-direction: column;

    padding: 25px 20px;

    .about {
      margin-bottom: 15px;
      h1 {
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 0.75rem;
      }
    }
  }

  @media screen and (min-width: 576px) {
    .header {
      height: 45vh;
      padding: 30px 60px;
      .description {
        height: 125px;
        img {
          height: 125px;
        }
        .content {
          width: calc(100% - 145px);

          h1.title {
            font-size: 1.5rem;
          }
        }
      }

      .rating {
        .title {
          font-size: 1rem;
        }
        .rate {
          .num {
            font-size: 3rem;
          }
          .stat {
            width: 150px;
            .tag {
              font-size: 0.65rem;
            }
            .bar-container {
              height: 0.65rem;
            }
          }
        }
      }
    }
    .footer {
      height: 55vh;
    }
  }
  @media screen and (min-width: 992px) {
    height: 100vh;
    .header {
      flex-direction: row;

      justify-content: space-between;
      align-content: flex-end;

      padding: 30px 60px;
      .description {
        height: 150px;
        img {
          height: 150px;
        }
        .content {
          width: 350px;

          h1.title {
            font-size: 1.75rem;
          }
          .location {
            img {
              height: 1.5rem;
            }
            h3.title {
              font-size: 1.25rem;
            }
          }
        }
      }

      .rating {
        .title {
          font-size: 1.25rem;
        }
        .rate {
          .num {
            font-size: 4rem;
          }
          .stat {
            width: 12.5rem;
            .tag {
              width: 1rem;
              font-size: 0.75rem;
            }
            .bar-container {
              height: 0.75rem;
              border-radius: 0.75rem;
            }
          }
        }
      }
    }
    .footer {
      flex-direction: row;
      justify-content: space-between;

      .about {
        width: 40%;
        padding: 10px;
        margin-bottom: 10px;
        p {
          font-size: 0.75rem;
        }
      }

      .rates {
        width: 40%;
        padding: 10px;
        overflow-y: scroll;
        .add-pub {
          .add-pub-footer {
            .publish {
              padding: 0.5rem 2rem;
              border-radius: 2rem;
            }
          }
        }
      }
    }
  }
}
