<div class="wrapper">
  <div class="header">
    <div class="description">
      <img src="assets/img/logo.png">
      <div class="content">
        <h1 class="title">Institut National des Science Applicable et de Technologie INSAT</h1>
        <div class="location">
          <img src="assets/svg/location.svg">
          <h3 class="title">Tunis, Tunisia</h3>
        </div>
      </div>
    </div>
    <div class="rating">
      <div class="title">Rates: </div>
      <div class="rate">
        <div class="num">{{rates.total | number:'1.1-1'}}</div>
        <div class="stats">
          <div class="stat" *ngFor="let stat of rates.stats">
            <div class="tag">{{stat.id}}</div>
            <div class="bar-container">
              <div class="bar" [style.width.%]=[stat.percentage]></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="about">
      <h1>About: </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem assumenda tenetur asperiores. Non, voluptates
        minus aliquid est cumque necessitatibus natus perferendis deserunt ab pariatur dolores, quos, doloremque
        explicabo incidunt. Expedita.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, consequuntur harum numquam, amet a placeat
        praesentium reprehenderit ea ducimus, magni recusandae! Doloremque cumque id fuga tempora quibusdam accusantium
        vitae dolore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eos laborum ratione assumenda beatae sunt
        voluptatem soluta repudiandae aliquid omnis aperiam eum repellendus, repellat, numquam sequi optio? Excepturi,
        iure architecto?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam impedit cupiditate maxime veritatis, suscipit
        doloribus magnam adipisci et dolorem exercitationem in quam tenetur ea reiciendis, saepe voluptate facere minima
        cumque!
      </p>
    </div>
    <div class="rates">
      <app-add-pub-card (Submit)=onAddRate($event) [rate]=true></app-add-pub-card>

      <app-pub-card [post]="post" *ngFor="let post of rates.posts"></app-pub-card>
    </div>
  </div>
</div>
